
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    font-family: "Dancing Script", cursive;
    text-align: center;
    background-color: rgb(181, 171, 224);
}

.bloco {
    width: 700px;
    height: 500px;
    background-color: rgb(131, 93, 192);
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border-color: 2px solid;

}